/* Margins, padding, borders */

.content {
  	margin: 0 auto;
  	max-width: 748px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.rounded-box {
	/*border: 2px solid;*/
	@include border-radius($main-font-size * .2);
    background: $main-color3;
}

#name {
	padding-bottom: $main-font-size * .1;
	margin-bottom: $main-font-size * .1;
	padding-left: $main-font-size;
	padding-right: $main-font-size;
	border-bottom: 2px solid;
}