/* Position and size of elements */

#slide-up-wrapper {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

#welcome-screen {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 5;
}

#welcome-text {
  	width: 36rem;
  	position: absolute;
	top: 30%;
	left: 10%; 
}

.table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* Center a div inside a an element block */
.block {
  text-align: center;
  white-space: nowrap;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.container-centered {
  display: inline-block;
  vertical-align: middle;
}