$roboto: 'Roboto Mono';
$scp: 'Source Code Pro';

html, body {
  font-size: 18px;
}

#welcome-screen {
  background-color: #385380;
}

.welcome-message {
  font-family: Roboto Mono;
  font-size: 4rem;
}

/*h1 {
  font-family: "Playfair Display";
  font-size: 4rem;
  line-height: 4rem;
}

a {
  color: $blue;
}

h2 {
  color: $gray;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;

  a {
    color: $gray;
  }
}
*/
/*Functions!!*/
/*a:hover {
  color: lighten($blue, 20%);
}

.content {
  font-family: "Roboto Condensed";
  font-size: 1rem;
  line-height: 1.618rem;
}*/