$roboto: 'Roboto Mono';
$scp: 'Source Code Pro';

$main-font-size: 5rem;
/*$golden-ration: 1.618rem;*/

html, body {
  background-color: $main-color1;
  font-family: $roboto;
  font-size: 20px;
  color: $main-color3;
}

h1 {
  font-size: $main-font-size;
  font-weight: bold;
}

h2 {
  font-size: $main-font-size * .6;
}

p {
  white-space: pre-wrap;
}


#welcome-screen {
  background-color: $main-color1;
}

.welcome-message {
  font-family: $scp;
  font-size: $main-font-size * .7;
  color: $main-color3;
}

.text-center {
  text-align: center;
}

.link-img {
  text-decoration: none;
}