html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strike, strong,
sub, sup, tt, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside,
canvas, details, figure, figcaption,
footer, header, hgroup, menu, nav,
output, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*$golden-ration: 1.618rem;*/
html, body {
  background-color: #385380;
  font-family: "Roboto Mono";
  /*font-size: 20px;*/
  color: #A8D966; }

h1 {
  font-size: 6rem;
  font-weight: bold; }

h2 {
  font-size: 3.6rem; }

p {
  white-space: pre-wrap; }

#welcome-screen {
  background-color: #385380; }

.welcome-message {
  font-family: "Source Code Pro";
  font-size: 4.2rem;
  color: #A8D966; }

.text-center {
  text-align: center; }

.link-img {
  text-decoration: none; }

/* Position and size of elements */
#slide-up-wrapper {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center; }

#welcome-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 5; }

#welcome-text {
  width: 60rem;
  position: absolute;
  top: 30%;
  left: 10%; }

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

/* Center a div inside a an element block */
.block {
  text-align: center;
  white-space: nowrap; }

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */ }

.container-centered {
  display: inline-block;
  vertical-align: middle; }

.business-icon {
  width: 4.5rem;
  height: 4.5rem; }

/* Margins, padding, borders */
.content {
  margin: 0 auto;
  max-width: 748px; }

.rounded-box {
  /*border: 2px solid;*/
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  border-radius: 1.2rem;
  background: #A8D966; }

#name {
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border-bottom: 2px solid; }

#business-card {
  margin-top: 2.4rem; }

.business-icon {
  margin-left: 1.2rem;
  margin-right: 1.2rem; }

@media screen and (min-width: 1921px) {
  html, body {
    font-size: 20px; } }
@media screen and (max-width: 1920px) {
  html, body {
    font-size: 18px; } }
@media screen and (max-width: 1440px) {
  html, body {
    font-size: 16px; } }
@media screen and (max-width: 1024px) {
  html, body {
    font-size: 15px; } }
@media screen and (min-width: 641px) {
  .mobile-only {
    display: none; } }
@media screen and (max-width: 640px) {
  html, body {
    font-size: 14px; }

  .hide-mobile {
    display: none; } }
@media screen and (max-width: 480px) {
  html, body {
    font-size: 12px; } }
@media screen and (max-width: 319px) {
  html, body {
    font-size: 7px; } }
@media screen and (max-width: 240px) {
  html, body {
    font-size: 5px; } }

/*# sourceMappingURL=index.css.map */
